AddDefaultCharset utf-8

RewriteEngine On
RewriteBase /

RewriteRule ^history/1905$ http://riga.zurbu.net/document/79 [R=301,L]
RewriteRule ^history/academy$ http://riga.zurbu.net/document/753 [R=301,L]
RewriteRule ^history/agenskalns$ http://riga.zurbu.net/document/68 [R=301,L]
RewriteRule ^history/agmarket$ http://riga.zurbu.net/document/32 [R=301,L]
RewriteRule ^history/agpark$ http://riga.zurbu.net/document/114 [R=301,L]
RewriteRule ^history/agtrinity$ http://riga.zurbu.net/document/8 [R=301,L]
RewriteRule ^history/allsaints$ http://riga.zurbu.net/document/74 [R=301,L]
RewriteRule ^history/altona$ http://riga.zurbu.net/document/92 [R=301,L]
RewriteRule ^history/arkadija$ http://riga.zurbu.net/document/104 [R=301,L]
RewriteRule ^history/arts$ http://riga.zurbu.net/document/484 [R=301,L]
RewriteRule ^history/berg$ http://riga.zurbu.net/document/67 [R=301,L]
RewriteRule ^history/bergi$ http://riga.zurbu.net/document/36 [R=301,L]
RewriteRule ^history/bikeru$ http://riga.zurbu.net/document/80 [R=301,L]
RewriteRule ^history/bisumuiza$ http://riga.zurbu.net/document/113 [R=301,L]
RewriteRule ^history/blok$ http://riga.zurbu.net/document/73 [R=301,L]
RewriteRule ^history/bolderaja$ http://riga.zurbu.net/document/101 [R=301,L]
RewriteRule ^history/bolderajabridges$ http://riga.zurbu.net/document/85 [R=301,L]
RewriteRule ^history/botanical$ http://riga.zurbu.net/document/60 [R=301,L]
RewriteRule ^history/brethern$ http://riga.zurbu.net/document/29 [R=301,L]
RewriteRule ^history/bridge$ http://riga.zurbu.net/document/1 [R=301,L]
RewriteRule ^history/bridges$ http://riga.zurbu.net/document/94 [R=301,L]
RewriteRule ^history/bullu$ http://riga.zurbu.net/document/458 [R=301,L]
RewriteRule ^history/burtniekunams$ http://riga.zurbu.net/document/83 [R=301,L]
RewriteRule ^history/canal$ http://riga.zurbu.net/document/9 [R=301,L]
RewriteRule ^history/canalpark$ http://riga.zurbu.net/document/123 [R=301,L]
RewriteRule ^history/cathedral$ http://riga.zurbu.net/document/87 [R=301,L]
RewriteRule ^history/cathospital$ http://riga.zurbu.net/document/78 [R=301,L]
RewriteRule ^history/cemetery$ http://riga.zurbu.net/document/35 [R=301,L]
RewriteRule ^history/chiekurkalns$ http://riga.zurbu.net/document/3 [R=301,L]
RewriteRule ^history/children$ http://riga.zurbu.net/document/30 [R=301,L]
RewriteRule ^history/christking$ http://riga.zurbu.net/document/65 [R=301,L]
RewriteRule ^history/citadel$ http://riga.zurbu.net/document/115 [R=301,L]
RewriteRule ^history/coast$ http://riga.zurbu.net/document/7 [R=301,L]
RewriteRule ^history/coatofarms$ http://riga.zurbu.net/document/121 [R=301,L]
RewriteRule ^history/crematory$ http://riga.zurbu.net/document/464 [R=301,L]
RewriteRule ^history/dailes$ http://riga.zurbu.net/document/126 [R=301,L]
RewriteRule ^history/dunamunde$ http://riga.zurbu.net/document/93 [R=301,L]
RewriteRule ^history/dzeguzkalns$ http://riga.zurbu.net/document/97 [R=301,L]
RewriteRule ^history/esplanade$ http://riga.zurbu.net/document/25 [R=301,L]
RewriteRule ^history/estonian$ http://riga.zurbu.net/document/124 [R=301,L]
RewriteRule ^history/etno$ http://riga.zurbu.net/document/34 [R=301,L]
RewriteRule ^history/forest$ http://riga.zurbu.net/document/11 [R=301,L]
RewriteRule ^history/francisk$ http://riga.zurbu.net/document/109 [R=301,L]
RewriteRule ^history/freedom$ http://riga.zurbu.net/document/116 [R=301,L]
RewriteRule ^history/george$ http://riga.zurbu.net/document/98 [R=301,L]
RewriteRule ^history/gertrude$ http://riga.zurbu.net/document/72 [R=301,L]
RewriteRule ^history/grizinkalns$ http://riga.zurbu.net/document/95 [R=301,L]
RewriteRule ^history/guard$ http://riga.zurbu.net/document/61 [R=301,L]
RewriteRule ^history/hes$ http://riga.zurbu.net/document/120 [R=301,L]
RewriteRule ^history/hotel$ http://riga.zurbu.net/document/53 [R=301,L]
RewriteRule ^history/ilguciems$ http://riga.zurbu.net/document/39 [R=301,L]
RewriteRule ^history/jaunciems$ http://riga.zurbu.net/document/145 [R=301,L]
RewriteRule ^history/jaunmilgravis$ http://riga.zurbu.net/document/10 [R=301,L]
RewriteRule ^history/jesus$ http://riga.zurbu.net/document/58 [R=301,L]
RewriteRule ^history/jugla$ http://riga.zurbu.net/document/46 [R=301,L]
RewriteRule ^history/justice$ http://riga.zurbu.net/document/100 [R=301,L]
RewriteRule ^history/kenins$ http://riga.zurbu.net/document/70 [R=301,L]
RewriteRule ^history/kipsala$ http://riga.zurbu.net/document/33 [R=301,L]
RewriteRule ^history/kliversala$ http://riga.zurbu.net/document/55 [R=301,L]
RewriteRule ^history/kobronschantz$ http://riga.zurbu.net/document/76 [R=301,L]
RewriteRule ^history/kojenholm$ http://riga.zurbu.net/document/89 [R=301,L]
RewriteRule ^history/kristaps$ http://riga.zurbu.net/document/86 [R=301,L]
RewriteRule ^history/kronvalda$ http://riga.zurbu.net/document/90 [R=301,L]
RewriteRule ^history/kundzinsala$ http://riga.zurbu.net/document/107 [R=301,L]
RewriteRule ^history/latvian$ http://riga.zurbu.net/document/64 [R=301,L]
RewriteRule ^history/liberation$ http://riga.zurbu.net/document/752 [R=301,L]
RewriteRule ^history/library$ http://riga.zurbu.net/document/71 [R=301,L]
RewriteRule ^history/lighthouse$ http://riga.zurbu.net/document/81 [R=301,L]
RewriteRule ^history/lucavsala$ http://riga.zurbu.net/document/38 [R=301,L]
RewriteRule ^history/luther$ http://riga.zurbu.net/document/37 [R=301,L]
RewriteRule ^history/market$ http://riga.zurbu.net/document/467 [R=301,L]
RewriteRule ^history/martin$ http://riga.zurbu.net/document/478 [R=301,L]
RewriteRule ^history/mental$ http://riga.zurbu.net/document/26 [R=301,L]
RewriteRule ^history/metro$ http://riga.zurbu.net/document/40 [R=301,L]
RewriteRule ^history/mezaparks$ http://riga.zurbu.net/document/6 [R=301,L]
RewriteRule ^history/mill$ http://riga.zurbu.net/document/99 [R=301,L]
RewriteRule ^history/mineral$ http://riga.zurbu.net/document/59 [R=301,L]
RewriteRule ^history/museumofart$ http://riga.zurbu.net/document/54 [R=301,L]
RewriteRule ^history/neuermuhlen$ http://riga.zurbu.net/document/28 [R=301,L]
RewriteRule ^history/oldbelievers$ http://riga.zurbu.net/document/27 [R=301,L]
RewriteRule ^history/olddunamunde$ http://riga.zurbu.net/document/105 [R=301,L]
RewriteRule ^history/omnibus$ http://riga.zurbu.net/document/112 [R=301,L]
RewriteRule ^history/opera$ http://riga.zurbu.net/document/5 [R=301,L]
RewriteRule ^history/orphanage$ http://riga.zurbu.net/document/62 [R=301,L]
RewriteRule ^history/park$ http://riga.zurbu.net/document/57 [R=301,L]
RewriteRule ^history/people$ http://riga.zurbu.net/document/47 [R=301,L]
RewriteRule ^history/priedes$ http://riga.zurbu.net/document/459 [R=301,L]
RewriteRule ^history/prison$ http://riga.zurbu.net/document/2 [R=301,L]
RewriteRule ^history/racetrack$ http://riga.zurbu.net/document/88 [R=301,L]
RewriteRule ^history/sadovnikov$ http://riga.zurbu.net/document/1051 [R=301,L]
RewriteRule ^history/saeima$ http://riga.zurbu.net/document/48 [R=301,L]
RewriteRule ^history/sarkandaugava$ http://riga.zurbu.net/document/108 [R=301,L]
RewriteRule ^history/sarktrinity$ http://riga.zurbu.net/document/128 [R=301,L]
RewriteRule ^history/seaman$ http://riga.zurbu.net/document/69 [R=301,L]
RewriteRule ^history/society$ http://riga.zurbu.net/document/4 [R=301,L]
RewriteRule ^history/spartak$ http://riga.zurbu.net/document/534 [R=301,L]
RewriteRule ^history/spilve$ http://riga.zurbu.net/document/117 [R=301,L]
RewriteRule ^history/splendid$ http://riga.zurbu.net/document/472 [R=301,L]
RewriteRule ^history/sportpalace$ http://riga.zurbu.net/document/516 [R=301,L]
RewriteRule ^history/store$ http://riga.zurbu.net/document/82 [R=301,L]
RewriteRule ^history/stradina$ http://riga.zurbu.net/document/41 [R=301,L]
RewriteRule ^history/strazdumuiza$ http://riga.zurbu.net/document/96 [R=301,L]
RewriteRule ^history/sugar$ http://riga.zurbu.net/document/13 [R=301,L]
RewriteRule ^history/teika$ http://riga.zurbu.net/document/63 [R=301,L]
RewriteRule ^history/theatre$ http://riga.zurbu.net/document/111 [R=301,L]
RewriteRule ^history/tornakalns$ http://riga.zurbu.net/document/50 [R=301,L]
RewriteRule ^history/tv$ http://riga.zurbu.net/document/56 [R=301,L]
RewriteRule ^history/university$ http://riga.zurbu.net/document/118 [R=301,L]
RewriteRule ^history/unrealized$ http://riga.zurbu.net/document/749 [R=301,L]
RewriteRule ^history/vecaki$ http://riga.zurbu.net/document/483 [R=301,L]
RewriteRule ^history/vecmilgravis$ http://riga.zurbu.net/document/42 [R=301,L]
RewriteRule ^history/velo$ http://riga.zurbu.net/document/84 [R=301,L]
RewriteRule ^history/viaduct$ http://riga.zurbu.net/document/110 [R=301,L]
RewriteRule ^history/victorypark$ http://riga.zurbu.net/document/77 [R=301,L]
RewriteRule ^history/vidzemes$ http://riga.zurbu.net/document/66 [R=301,L]
RewriteRule ^history/viestura$ http://riga.zurbu.net/document/119 [R=301,L]
RewriteRule ^history/vorstadt$ http://riga.zurbu.net/document/453 [R=301,L]
RewriteRule ^history/waldschlosschen$ http://riga.zurbu.net/document/122 [R=301,L]
RewriteRule ^history/watertower$ http://riga.zurbu.net/document/106 [R=301,L]
RewriteRule ^history/weathervanes$ http://riga.zurbu.net/document/19 [R=301,L]
RewriteRule ^history/woehrmann$ http://riga.zurbu.net/document/31 [R=301,L]
RewriteRule ^history/zakusala$ http://riga.zurbu.net/document/51 [R=301,L]
RewriteRule ^history/ziedondarzs$ http://riga.zurbu.net/document/127 [R=301,L]
RewriteRule ^history/ziemelblazma$ http://riga.zurbu.net/document/52 [R=301,L]
RewriteRule ^history/zolitude$ http://riga.zurbu.net/document/45 [R=301,L]
RewriteRule ^history/zoo$ http://riga.zurbu.net/document/102 [R=301,L]
RewriteRule ^maps$ http://riga.zurbu.net/maps [R=301,L]
RewriteRule ^maps/1798$ http://zurbu.net/f/1 [R=301,L]
RewriteRule ^maps/1899$ http://zurbu.net/f/2 [R=301,L]
RewriteRule ^maps/1899-2$ http://zurbu.net/f/3 [R=301,L]
RewriteRule ^maps/1916$ http://zurbu.net/f/4 [R=301,L]
RewriteRule ^maps/1916-center$ http://zurbu.net/f/5 [R=301,L]
RewriteRule ^maps/1926$ http://zurbu.net/f/6 [R=301,L]
RewriteRule ^maps/1934$ http://zurbu.net/f/7 [R=301,L]
RewriteRule ^maps/1936$ http://zurbu.net/f/8 [R=301,L]
RewriteRule ^maps/1939$ http://zurbu.net/f/9 [R=301,L]
RewriteRule ^maps/1959$ http://zurbu.net/f/A [R=301,L]
RewriteRule ^maps/1975$ http://zurbu.net/f/B [R=301,L]
RewriteRule ^maps/1979$ http://zurbu.net/f/C [R=301,L]
RewriteRule ^maps/1983-north$ http://zurbu.net/f/H [R=301,L]
RewriteRule ^maps/1983-south$ http://zurbu.net/f/H [R=301,L]
RewriteRule ^maps/1988$ http://zurbu.net/f/D [R=301,L]
RewriteRule ^maps/1988-center$ http://zurbu.net/f/E [R=301,L]
RewriteRule ^maps/t1901$ http://zurbu.net/f/F [R=301,L]
RewriteRule ^maps/1937$ http://zurbu.net/f/Cx [R=301,L]
RewriteRule ^maps/t1954$ http://riga.zurbu.net/document/733 [R=301,L]
RewriteRule ^maps/t1959$ http://riga.zurbu.net/document/737 [R=301,L]
RewriteRule ^maps/t1966$ http://zurbu.net/f/G [R=301,L]
RewriteRule ^maps/t1968$ http://riga.zurbu.net/document/740 [R=301,L]
RewriteRule ^maps/t1970$ http://riga.zurbu.net/document/744 [R=301,L]
RewriteRule ^history$ http://riga.zurbu.net/ [R=301,L]
RewriteRule ^news$ http://riga.zurbu.net/ [R=301,L]
RewriteRule ^news/rss$ http://riga.zurbu.net/rss [R=301,L]